* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppBar {
  padding: 10px 0;
  background: rgb(131, 58, 180);
  background: -moz-linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    #c12a97 20%,
    rgba(252, 176, 69, 1) 40%,
    #c12a97 60%,
    rgba(131, 58, 180, 1) 80%,
    #c12a97 100%,
    rgba(252, 176, 69, 1) 120%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    #c12a97 20%,
    rgba(252, 176, 69, 1) 40%,
    #c12a97 60%,
    rgba(131, 58, 180, 1) 80%,
    #c12a97 100%,
    rgba(252, 176, 69, 1) 120%
  );
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    #c12a97 20%,
    rgba(252, 176, 69, 1) 40%,
    #c12a97 60%,
    rgba(131, 58, 180, 1) 80%,
    #c12a97 100%,
    rgba(252, 176, 69, 1) 120%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
  background-size: 800%;
  animation: gradient 60s infinite linear;
}
@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.content {
  background: #fff;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Reg/Log Form */
.auth__form {
  border-radius: 10px;
  background: rgb(117, 49, 175);
  margin-top: 24px;
  padding: 24px 24px 24px 0px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
/* Reg/Log Form */

.ConfigContainer {
  border-radius: 10px;
  color: #fff;
  background: rgb(117, 49, 175);
  padding: 0px 36px 36px 36px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.PushCreator {
  padding: 0px 6px 6px 6px;
}
.PushList {
  border-radius: 10px;
  color: #ffffff;
  background: #c12a97;
  padding: 12px 36px 36px 36px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.configs {
  margin-top: 0;
  width: 35%;
  padding-top: 24px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.configs.mob {
  margin-top: 4rem;
  margin-bottom: 1rem;
  justify-content: center;
  max-height: 250vh;
  width: 100%;
  padding: 24px;
}

.create_push_form {
  color: #ffffff;
  background: rgb(163, 8, 104);
  background: -moz-linear-gradient(135deg, rgb(117, 49, 175) 50%, #c12a97 50%);
  background: -webkit-linear-gradient(135deg, rgb(117, 49, 175) 50%, #c12a97 50%);
  background: linear-gradient(135deg, rgb(117, 49, 175) 50%, #c12a97 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
  margin-top: 40px;
  padding: 24px 12px 12px 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.create_push_form.mob {
  border-radius: 0px;
  margin-top: 0px;
  padding: 24px;
  width: 100%;
}

.create_push_form.tableMode {
  padding: 0px;
  z-index: 1000;
  margin-top: 8%;
  max-height: 1000px;
  min-height: 586px;
  border-radius: 0px;
  box-shadow: none;
}

.message_history {
  margin-top: 0;
  float: right;
  justify-content: "flex-end";
  width: 35%;
  min-width: 300px;
  padding-top: 24px;
  padding-right: 12px;
}

.message_history.mob {
  margin-top: 36px;
  justify-content: center;
  width: 100%;
  padding: 12px;
}

.tableMode {
  margin: 0px;
  padding: 24px 0px 0px 0px;
}

.config__list {
  background: #441072;
  background: -moz-linear-gradient(200deg, #5c1a95 0%, #441072 100%);
  background: -webkit-linear-gradient(200deg, #5c1a95 0%, #441072 100%);
  background: linear-gradient(200deg, #5c1a95 0%, #441072 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
  padding: 12px 24px;
  max-height: 700px;
  min-height: 500px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.user {
  padding: 20px;
  border: 1px solid orange;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.w100 {
  width: 100%;
}

.config {
  color: rgb(0, 0, 0);
  background: #fefefe;
  padding: 12px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  width: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.config:hover {
  cursor: pointer;
  transform: translate(-3px, -3px);
  -webkit-transform: translate(-3px, -3px);
  -o-transform: translate(-3px, -3px);
  -moz-transform: translate(-3px, -3px);
  box-shadow: 5px 5px 0px #c12a97;
}

.push {
  background: #fefefe;
  color: #000;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.push:hover {
  cursor: pointer;
  transform: translate(-3px, -3px);
  -webkit-transform: translate(-3px, -3px);
  -o-transform: translate(-3px, -3px);
  -moz-transform: translate(-3px, -3px);
  box-shadow: 5px 5px 0px rgb(117, 49, 175);
}

.message_list {
  padding: 12px;
  max-height: 700px;
  min-height: 513px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  background: #7d0e5f;
  background: -moz-linear-gradient(120deg, #9f1e7c 0%, #7d0e5f 100%);
  background: -webkit-linear-gradient(120deg, #9f1e7c 0%, #7d0e5f 100%);
  background: linear-gradient(120deg, #9f1e7c 0%, #7d0e5f 100%);
  overflow: auto;
}

.message_input {
  border-radius: 0px;
  background: #ffffff;
}
/* config_select */
.config_select {
  background: #ffffff;
  border-radius: 5px;
}
.prototypeMsg{
  display: 'flex';
  flex-direction: 'column';
  min-width: 200px;
  padding: 0px 0px 0px 0px;
}
.post_img{
  display:"inline-block";
  float: right;
  margin: 6px 6px 6px 0px;
  max-height: 70%;
  max-width: 70%;
}
.post_img.prev{
  margin: 12px 12px 12px 0px;
  max-width: 36%;
  max-width: 36%;
}

/* LOADER */

.loader {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.loader div {
  position: absolute;
  top: 10px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #c2f235;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loader div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* LOADER */

input[type="token"]{
  width:auto;
  margin: 0.5rem;
  padding: 0.5rem 0px 0.5rem 0.5rem;
  box-shadow: 0px 0px 2px 1px rgb(49, 78, 175);
  font-size: medium;
  border: none;
}
