* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppBar{
  padding: 10px 0;
}

.Content{
  padding: 0;
  margin: 0;
  width: 100vw;
}

.config__list {
  width: 100%;
  padding: 20px;
}

.user {
  padding: 20px;
  border: 1px solid orange;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.w100 {
  width: 100%;
}

.config {
  padding: 10px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
} 
.config:hover {
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.7);
}

.push-create-container {
  box-shadow:"0px 0px 1px rgba(0, 0, 0, 0.712)";
  margin: 5; 
  padding: 3;
}

.push {
  background-color: rgb(238, 238, 238);
  padding: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
} 
.push:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
