* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppBar{
  padding: 10px 0;
}

@media screen and (max-width: 1200px) {
  .Content {
    width: 1140px;
  }  
}
@media screen and (max-width: 1199px) {
  .Content {
    width: 960px;
  }  
}
@media screen and (max-width: 991px) {
  .Content {
    width: 720px;
  }  
}
@media screen and (max-width: 767px) {
  .Content {
    width: 540px;
  }  
}
@media screen and (max-width: 575px) {
  .Content {
    width: 100%;
    padding: 0 15px;
  }  
}

.Content{
  padding: 0;
  margin: 0;
}

.config__list {
  padding-top: 24px;
  padding-left: 12px;
  height: 80vh;
  box-shadow: 3;
  overflow: auto;
}

.user {
  padding: 20px;
  border: 1px solid orange;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.w100 {
  width: 100%;
}

.config {
  padding: 10px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
} 
.config:hover {
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
}

.push {
  background-color: rgb(238, 238, 238);
  padding: 10px;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); */
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
} 
.push:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.message_list {
  height: 80vh;
  overflow: auto;
}